packages:
  yum:
    git: []
    postgresql94-devel: []
    libjpeg-turbo-devel: []

container_commands:
  collectstatic:
    command: "python manage.py dmp_collecstatic"
  01migrate:
    command: "python manage.py migrate"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: chf_postgresql.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: chf_postgresql/wsgi.py